<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--SERVER-->
    <add key="ServerName" value="SCA16S" />
    <add key="Protocol" value="http" />
    <add key="KorberCorePort" value="30000" />
    <add key="DatabaseServerNameKorber" value="SCA16S" />
    <!--SQL server name where Korber platform was installed -->
    <add key="DatabaseNameKorber" value="HJOneCore" />
    <!--Korber USER-->
    <add key="UserName" value="e3pl" />
    <add key="UserPassword" value="test" />
    <add key="UserOperatorCode" value="E3PL" />
    <add key="RFUserOperatorCode" value="E3PL" />
    <add key="RFUserOperatorPassword" value="E3PLWS3PL" />
    <add key="UserPasswordKorberSa" value="sa" />
    <add key="UserSqlSa" value="sa" />
    <add key="UserPasswordSqlSa" value="Pass@word01" />
    <!--AUTOMATION FRAMEWORK OPTIONS-->
    <add key="SettingSetups" value="false" />
    <!--add key="xunit.diagnosticMessages" value="true"/-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>