<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="HighJump One" value="https://highjump.myget.org/F/highjumpone-ci/" />
  </packageSources>
  <disabledPackageSources />
  <packageSourceCredentials>
    <HighJump_x0020_One>
      <add key="Username" value="HJUser" />
      <add key="ClearTextPassword" value="We@rW01v3s" />
    </HighJump_x0020_One>
  </packageSourceCredentials>
</configuration>